.player-card {
	display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50%
}

input {
  align-content: center;
  display: inline-block;
  margin: 10px;
  max-width: 50%;
}

.caption {
  text-align: center;
}

/* this eye stuff is just for fun */


/* .eye .iris {
    width: 150px;
    height: 150px;
    background-color: lightskyblue;
    border: 25px solid white;
    border-radius: 96% 4% 96% 4%;
}

.eye {
    margin: 50px;
    padding: 25px;
    display: inline-block;
    background-color: #ccc;
    width: 200px;
    height: 200px;
    border-radius: 96% 2%;
    transform: rotate(55deg);
} 

.eye2 .iris2 {
    width: 150px;
    height: 150px;
    background-color: lightskyblue;
    border: 25px solid white;
    border-radius: 96% 4% 96% 4%;
}

.eye2 {
    margin: 50px;
    padding: 25px;
    display: inline-block;
    background-color: #ccc;
    width: 200px;
    height: 200px;
    border-radius: 96% 2%;
    transform: rotate(35deg);
} */

.stay-inline {
  display: inline;
}